.content-heading{
    width: 75%;
h5{
    margin-bottom: 1rem;
}}
.content-heading h2{
    margin-bottom: 1rem;
}
.content-card{
    margin-bottom: 2rem;
}
.card-header{
    margin-bottom: .5rem;
}
.card-content{
    margin-bottom: .5rem;
}
.card-header{
    margin-bottom: .5rem;
svg{
    margin-bottom: .5rem;
}}